@font-face {
  font-family: "Geneva 9.2";
  src: url(../fonts/geneva-9-2.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: pixChicago;
  src: url(../fonts/pixChicago.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

:root {
  --font-body: "Geneva 9.2", sans-serif;
  --font-title: "pixChicago", sans-serif;
  --noise-1: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-2: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.4' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-3: url("data:image/svg+xml,%3Csvg viewBox='0 0 900 900' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-4: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-5: url("data:image/svg+xml,%3Csvg viewBox='0 0 1600 1600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-6: url("data:image/svg+xml,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-7: url("data:image/svg+xml,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.95' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
}

* {
  box-sizing: border-box
}

body,
html {
  background: #fff;
  color: #000;
  position: relative
}

__next,
__next>*,
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  background: repeating-conic-gradient(#cf92a0 0 25%, #f7aebe 0 50%) 50% /3px 3px
}

html>body {
  transition: all 2s
}

a {
  cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin: 0 0 1em
}

h2 {
  line-height: 1.75rem
}

h3 {
  margin-bottom: .2em
}

h3,
p {
  font-size: 1.25em
}

p {
  margin: 0 0 1em;
  line-height: 1.5rem
}

p b {
  font-family: monospace;
  -webkit-text-decoration: dashed;
  text-decoration: dashed
}

p a {
  text-decoration: none;
  color: #007aff
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 1333333333337;
  position: relative
}

.web3modal-modal-lightbox {
  z-index: 1333333333337
}

.web3modal-modal-card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px !important;
  border: 2px solid #000;
  padding: 10%;
  max-width: 650px !important;
  min-height: 450px
}

.web3modal-provider-container {
  margin-top: 10px;
  display: flex !important;
  flex-direction: row !important;
  width: 450px !important;
  border: 1px solid #000;
  border-radius: 60px !important;
  padding: 10px !important
}

.web3modal-provider-wrapper {
  border: none !important
}

.web3modal-provider-description {
  display: none
}

.web3modal-provider-name {
  height: 35px !important;
  font-size: 20px !important;
  width: auto !important;
  margin-left: 15px
}

.web3modal-modal-card:before {
  display: block;
  color: #000;
  width: 100%;
  height: 30px;
  top: 70px;
  position: absolute;
  content: "Connect Wallet";
  font-size: 24px;
  font-weight: 700
}

.web3modal-modal-card:after {
  display: block;
  color: #000;
  width: 60%;
  margin: 0 20%;
  height: 30px;
  top: 110px;
  position: absolute;
  content: "Connect your wallet to create a profile and save your favorite tracks.";
  font-size: 20px;
  line-height: 25px
}

@media only screen and (max-width:480px) {
  .web3modal-provider-container {
    width: auto !important;
    padding: 10px 30px !important
  }

  .web3modal-modal-card {
    padding-top: 140px !important;
    min-height: 415px
  }

  .web3modal-modal-card:before {
    top: 48px
  }

  .web3modal-modal-card:after {
    top: 94px;
    width: 80%;
    margin: 0 10%
  }
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 12px;
  width: 339px;
  height: 40px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  font-family: var(--font-title);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg)
  }

  to {
    filter: hue-rotate(1turn)
  }
}