@import './styles.css';
@font-face {
    font-family: 'casio';
    src: url('../fonts/casio.ttf') format('truetype');
}

@font-face {
    font-family: 'chava';
    src: url('../fonts/chava.ttf') format('truetype');
}

@font-face {
    font-family: 'chicago';
    src: url('../fonts/chicago.woff') format('woff');
}

@font-face {
    font-family: 'chicago2';
    src: url('../fonts/chicago2.ttf') format('truetype');
}

@font-face {
    font-family: 'class_pix_it';
    src: url('../fonts/class_pix_it.woff') format('woff');
}

@font-face {
    font-family: 'class_pix';
    src: url('../fonts/class_pix.woff') format('woff');
}

@font-face {
    font-family: 'dotty';
    src: url('../fonts/dotty.ttf') format('truetype');
}

@font-face {
    font-family: 'hollow';
    src: url('../fonts/hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'mario';
    src: url('../fonts/mario.ttf') format('truetype');
}

@font-face {
    font-family: 'pix';
    src: url('../fonts/pix.woff') format('woff');
}

@font-face {
    font-family: 'pix2';
    src: url('../fonts/pix2.ttf') format('truetype');
}

@font-face {
    font-family: 'pixeloid';
    src: url('../fonts/pixeloid.ttf') format('truetype');
}

@font-face {
    font-family: 'snes_comic';
    src: url('../fonts/snes_comic.ttf') format('truetype');
}

@font-face {
    font-family: 'snes';
    src: url('../fonts/snes.woff') format('woff');
}