# dependencies
./node_modules
/node_modules
node_modules
*node_modules
*/node_modules
**/node_modules
***/node_modules
****/node_modules
*****/node_modules
******/node_modules
*******/node_modules
/.pnp
.pnp.js

# testing
/coverage
*/coverage
**/coverage
***/coverage
****/coverage

# production
/build
*/build
**/build
***/build
****/build
*****/build

/DigestedCode
*/DigestedCode
**/DigestedCode
***/DigestedCode
****/DigestedCode

# misc
.DS_Store
*/.DS_Store
**/.DS_Store
***/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
***/.env.local
***/.env.development.local
***/.env.test.local
***/.env.production.local
****/.env.local
****/.env.development.local
****/.env.test.local
****/.env.production.local
*****/.env.production.local
******/.env.production.local

.env
/.env
*/.env
**/.env
**/.env
**/.env
**/.env
***/.env
***/.env
***/.env
***/.env
****/.env
****/.env
****/.env
****/.env
*****/.env
******/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# React Component Preview
previewConfig.json

__pycache__
*/__pycache__
**/__pycache__
***/__pycache__
.fake
