:root {
$turquoise: #68D5B8ff;
$glaucous: #7B8BC7ff;
$mauve: #DBA8F0ff;
$thistle: #E6CBF4ff;
$turquoise-2: #6AD3BAff;
$uranian-blue: #A3DEFDff;
$air-superiority-blue: #689ABBff;
$aquamarine: #9AF0C1ff;
$mauve-2: #DEA1F1ff;
$tropical-indigo: #7D79C7ff;

/* SCSS HSL */
$turquoise: hsla(164, 56%, 62%, 1);
$glaucous: hsla(227, 40%, 63%, 1);
$mauve: hsla(283, 71%, 80%, 1);
$thistle: hsla(280, 65%, 88%, 1);
$turquoise-2: hsla(166, 54%, 62%, 1);
$uranian-blue: hsla(201, 96%, 82%, 1);
$air-superiority-blue: hsla(204, 38%, 57%, 1);
$aquamarine: hsla(147, 74%, 77%, 1);
$mauve-2: hsla(286, 74%, 79%, 1);
$tropical-indigo: hsla(243, 41%, 63%, 1);

/* SCSS RGB */
$turquoise: rgba(104, 213, 184, 1);
$glaucous: rgba(123, 139, 199, 1);
$mauve: rgba(219, 168, 240, 1);
$thistle: rgba(230, 203, 244, 1);
$turquoise-2: rgba(106, 211, 186, 1);
$uranian-blue: rgba(163, 222, 253, 1);
$air-superiority-blue: rgba(104, 154, 187, 1);
$aquamarine: rgba(154, 240, 193, 1);
$mauve-2: rgba(222, 161, 241, 1);
$tropical-indigo: rgba(125, 121, 199, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-right: linear-gradient(90deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-bottom: linear-gradient(180deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-left: linear-gradient(270deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-top-right: linear-gradient(45deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-bottom-right: linear-gradient(135deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-top-left: linear-gradient(225deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-bottom-left: linear-gradient(315deg, #68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
$gradient-radial: radial-gradient(#68D5B8ff, #7B8BC7ff, #DBA8F0ff, #E6CBF4ff, #6AD3BAff, #A3DEFDff, #689ABBff, #9AF0C1ff, #DEA1F1ff, #7D79C7ff);
}