/* fonts.css */

@font-face {
    font-family: 'ArcadeClassic';
    src: url('../assets/fonts/arcadeClassic.ttf') format('truetype');
}

@font-face {
    font-family: 'BitmapBlackBold';
    src: url('../assets/fonts/bitmapBlack_B.otf') format('opentype');
}

@font-face {
    font-family: 'BitmapBlackItalic';
    src: url('../assets/fonts/bitmapBlack_I.otf') format('opentype');
}

@font-face {
    font-family: 'BitmapBlackRegular';
    src: url('../assets/fonts/bitmapBlack_R.otf') format('opentype');
}

@font-face {
    font-family: 'BitmapBlack';
    src: url('../assets/fonts/bitmapBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Chava';
    src: url('../assets/fonts/chava.ttf') format('truetype');
}

@font-face {
    font-family: 'HalfPixel';
    src: url('../assets/fonts/halfPixel.ttf') format('truetype');
}

@font-face {
    font-family: 'NeonPixel';
    src: url('../assets/fonts/neonPixel.ttf') format('truetype');
}

@font-face {
    font-family: 'PixeloidMonoBold';
    src: url('../assets/fonts/pixeloidMono_B.ttf') format('truetype');
}

@font-face {
    font-family: 'PixeloidMono';
    src: url('../assets/fonts/pixeloidMono.ttf') format('truetype');
}

@font-face {
    font-family: 'PixeloidSans';
    src: url('../assets/fonts/pixeloidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelya';
    src: url('../assets/fonts/pixelya.ttf') format('truetype');
}

@font-face {
    font-family: 'RoundedPixel';
    src: url('../assets/fonts/roundedPixel.ttf') format('truetype');
}

@font-face {
    font-family: 'StencilPixel';
    src: url('../assets/fonts/stencilPixel.ttf') format('truetype');
}