# Node.js dependencies
node_modules/
.pnp/
.pnp.js

# Custom directories
DigestedCode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store
.env
.env.*
!.env.example

# Compiled files
*.jar
*.msi
*.sig

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python C extensions
*.so

# Python Distribution / packaging
lib/
lib64/
parts/
wheels/
share/python-wheels/

# PyInstaller
*.spec

# Python Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Python Translations
*.mo
*.pot

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# PDM
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Python Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/
