/* fonts.css */

@font-face {
   font-family: 'ArgentPixelCF-Italic';
   src: url('../fonts/ArgentPixelCF-Italic.bc910b13.woff2') format('woff2'),
      url('../fonts/ArgentPixelCF-Italic.2b29216b.woff') format('woff');
}

@font-face {
   font-family: 'ArgentPixelCF-Regular';
   src: url('../fonts/ArgentPixelCF-Regular.176c6c35.woff2') format('woff2'),
      url('../fonts/ArgentPixelCF-Regular.a2402249.woff') format('woff');
}

@font-face {
   font-family: 'Charcoal';
   src: url('../fonts/Charcoal.ttf') format('truetype');
}

@font-face {
   font-family: 'ChicagoFLF';
   src: url('../fonts/ChicagoFLF.ttf') format('truetype');
}

@font-face {
   font-family: 'chikarego2-webfont';
   src: url('../fonts/chikarego2-webfont.4bddfe2b.woff2') format('woff2'),
      url('../fonts/chikarego2-webfont.6df24b2b.woff') format('woff');
}

@font-face {
   font-family: 'Gelion Black Italic';
   src: url('../fonts/Gelion Black Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Black';
   src: url('../fonts/Gelion Black.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Bold Italic';
   src: url('../fonts/Gelion Bold Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Bold';
   src: url('../fonts/Gelion Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Light Italic';
   src: url('../fonts/Gelion Light Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Light';
   src: url('../fonts/Gelion Light.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Medium Italic';
   src: url('../fonts/Gelion Medium Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Medium';
   src: url('../fonts/Gelion Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Regular Italic';
   src: url('../fonts/Gelion Regular Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Regular';
   src: url('../fonts/Gelion Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion SemiBold Italic';
   src: url('../fonts/Gelion SemiBold Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion SemiBold';
   src: url('../fonts/Gelion SemiBold.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Thin Italic';
   src: url('../fonts/Gelion Thin Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Gelion Thin';
   src: url('../fonts/Gelion Thin.ttf') format('truetype');
}

@font-face {
   font-family: 'geneva_9';
   src: url('../fonts/geneva_9.ttf') format('truetype');
}

@font-face {
   font-family: 'Inconsolata-Bold';
   src: url('../fonts/Inconsolata-Bold.woff2') format('woff2');
}

@font-face {
   font-family: 'Inconsolata-Regular';
   src: url('../fonts/Inconsolata-Regular.woff2') format('woff2');
}

@font-face {
   font-family: 'Inconsolata';
   font-style: normal;
   font-weight: 400;
   src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
      url('../fonts/Inconsolata-Regular.woff2') format('woff2');
}

@font-face {
   font-family: 'Inconsolata';
   font-style: normal;
   font-weight: 700;
   src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
      url('../fonts/Inconsolata-Bold.woff2') format('woff2');
}

@font-face {
   font-family: 'PerfectDOSVGA437';
   src: url('../fonts/PerfectDOSVGA437.bfbcfb6f.woff2') format('woff2'),
      url('../fonts/PerfectDOSVGA437.30b3c1a1.woff') format('woff');
}

@font-face {
   font-family: 'PixelArial11';
   src: url('../fonts/PixelArial11.f2feb7e4.woff2') format('woff2'),
      url('../fonts/PixelArial11.9aa373a1.woff') format('woff');
}

@font-face {
   font-family: 'pixelmix_bold';
   src: url('../fonts/pixelmix_bold.ttf') format('truetype');
}

@font-face {
   font-family: 'pixelmix';
   src: url('../fonts/pixelmix.ttf') format('truetype');
}

@font-face {
   font-family: 'Pixolde-Bold';
   src: url('../fonts/Pixolde-Bold.f3a0de15.woff') format('woff');
}

@font-face {
   font-family: 'Pixolde';
   src: url('../fonts/Pixolde.3a826705.woff') format('woff');
}