body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    position: absolute;
    padding: 80px;
    bottom: 150px;
    flex-direction: column;
    height: 94vh;
    background-color: #f0f0f0;
}

.pagination {
    flex-grow: 1;
}

.page {
    display: none;
}

.page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.page p {
    font-size: 16px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    bottom: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

button.next {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button.back {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}

button#submit {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
}
